@using WorldData.Models;
@{
  Layout = "_Layout";
}

<h1> @Model.GetName() </h1>
<p><strong> Country Code</strong>: @Model.GetCode()</p>
<p><strong> Continent</strong>: @Model.GetContinent()</p>
<p><strong> Population</strong>: @Model.GetPop()</p>
<p><strong> Cities: </strong></p>
  <ul>
  @foreach (var city in City.GetCities()[Model.GetCode()])
  {
    <li> @city.GetName() </li>
  }
  </ul>

<a href="/"><button type="button" name="button">RETURN</button></a>
